* text=crlf
* filter=tabspace
*.sh text eol=lf
opencrmitalia_modules text eol=lf
.env text eol=lf
.zipinclude text eol=lf
.zipignore text eol=lf
.debugfile text eol=lf
* text=crlf
* filter=tabspace
*.sh text eol=lf
opencrmitalia_modules text eol=lf
.env text eol=lf
.zipinclude text eol=lf
.zipignore text eol=lf
.debugfile text eol=lf
.encrypt text eol=lf
Makefile text eol=lf
Forkfile text eol=lf
*.md text eol=lf
*.php text eol=lf
.gitattributes text eol=lf
.distfile text eol=lf
.gitignore text eol=lf
*.yml text eol=lf
